{%  extends 'layout.swig' %}

{% block content %}
    <h1> Title is : {{ title }} </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate dolor, dolorem dolores eveniet, facilis fugit mollitia optio, perspiciatis porro repellendus vitae? A accusantium aliquid aperiam architecto assumenda consectetur deleniti dolor dolore dolores ea earum enim et fugiat, harum hic impedit ipsam ipsum iure labore libero minima molestias mollitia necessitatibus nisi nobis pariatur quam quas qui quibusdam rem suscipit tempora temporibus unde vero vitae voluptas voluptates. Aliquam assumenda consequuntur cumque delectus dolor dolorem enim esse est ex fugiat, incidunt itaque magni minima molestiae neque nobis nulla officia omnis optio possimus quae quibusdam ratione reprehenderit suscipit totam unde veniam voluptas! Esse?</p>
{% endblock %}

